.forLastStep {
  font-weight: bold;
}
.customDefault { 
  color: black;
}

.introjs-tooltiptext a:link {
    color: blue;
    text-decoration: none;
}

.customDefault .introjs-skipbutton {
  border-radius: 0;
  color: red;
}

.inv-checkbox {
  display:none;
}

.btn{
border-radius: 0px;
width: 100%;
}

.offset-top{
  margin-top: 25px;
}
